*{
    margin:0;
    padding:0;
}

.header{
    height:4rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    position:absolute;
    inset:0;
    z-index:10;
}

.header p{
    color:white;
    font-size: 1rem;
    line-height: 4rem;
    font-family:Poppins, sans-serif;
    padding-right: 4rem;
    margin-left: 16%;
    text-shadow: 0 0 4px white;
}

.menu{
    width:45%;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28%;
    gap:8%;
}

.menu a{
    font-size: 1rem;
    line-height: 4rem;
    font-family:Poppins, sans-serif;
    color:white;
    text-decoration: none;
    transition: 0.15s;
}

.menu a:hover{
    cursor: pointer;
    text-shadow: 0 0 4px white;
    font-size: 1.2rem;
}


.A{
    background-color:g;
}

.Amain{
    height:95vh;
    width:100%;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top:1rem;
}

.Acontent{
    position: relative;
    top:5%;
    right:4%;
    height: 90%;
    width:90%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: path("M 0,130 L 350,130 L 350,0 L 1360,0 L 1360,650 L 0,650 L 0,100 Z");
    border: 2px solid black;
    border-radius: 0 2em 2em 2em;
    gap:4%;
}

.Aheading{
    position: absolute;
    top:10%;
    left:4%;
    background-color: white;
    padding:2rem;
    font-size: 4rem;
    border: 2px solid black;
    filter:drop-shadow(0 0 2px white);
}

.Aimg{
    position: relative;
    top:-2%;
    left:-14%;
    height: 60%;
    aspect-ratio: 1/1;
    background-color: black;
    margin: 10% 0 0 2.5%;
    border-radius: 50%;
    filter:drop-shadow(0 0 2px white);
}

.Atext{
    position: relative;
    top:2%;
    right:12%;
    height: 80%;
    width: 70%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:0.95rem;
    font-family: Poppins, sans-serif;
    line-height: 1.25em;
    filter:drop-shadow(0 0 2px white);
    padding:0 2em 0 2em;
    border-radius: 0 2em 2em 2em;
    z-index:2;
}


.Cmain , .Pmain , .Rmain ,.Smain{
    margin-top: 10%;
    margin-left: 10%;
}



