*{
    margin:0;
    padding:0;
}

.header{
    height:4rem;
    width: 100%;
    background-color: black;
    position:absolute;
    text-align:right;
    z-index:10;
}

.header p{
    color:white;
    font-size: 1rem;
    line-height: 4rem;
    font-family:Poppins, sans-serif;
    padding-right: 4rem;
    text-shadow: 0 0 4px white;
}